*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* primary color */
    --main-bg-dark-blue: hsl(233, 47%, 7%);
    --card-bg-dark-desaturated-blue: hsl(244, 38%, 16%);
    --accent-soft-violet: hsl(277, 64%, 61%);

    /* Neutral */
    --heading-white: hsl(0, 0%, 100%);  /* (main heading, stats) */
    --para-transparent-white: hsla(0, 0%, 100%, 0.6);    /* (paragraph text) */

    /* font family */
    --ff-heading-text: 'Inter', sans-serif;
    --ff-para-text: 'Lexend Deca', sans-serif; 
}



body{
    background-color: var(--main-bg-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--ff-para-text);
    color: var(--para-transparent-white);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-height: 27.875rem;
    margin: 2rem;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.image-card{
    background: url(images/image-header-desktop.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 33.75rem;
    height: 27.875rem;
}

/* for accent-color overlay */

.image-card::before{
    content: '';
    width: 33.75rem;
    height: 27.875rem;
    background-color: hsl(277deg 85% 30%);
    opacity: 0.6;
    position: absolute;
    top: 0;
    border-radius: 0  10px 10px 0;    
}

.text-card{
    padding: 7% 6% 6%;
    max-width: 35rem;
    min-height: 28rem;
    background-color: var(--card-bg-dark-desaturated-blue);
}

.heading{
    font-family: var(--ff-heading-text);
    color: var(--heading-white);
    font-size: 2.175rem;
    line-height: 2.75rem;
    letter-spacing: 0.5px;
}

.heading span{
    color: var(--accent-soft-violet);
}

.text-card article{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: var(--para-transparent-white);
    margin: 2rem 0;
    line-height: 1.5rem;
    width: 85%;
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-top: 14%;
}

li{
    list-style: none;
    color: var(--heading-white);
    font-family: 'Inter', sans-serif ;
    font-weight: 700;
    font-size: 1.5rem;
}


li:nth-child(2n){
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color: var(--ff-para-text);
    letter-spacing: 1.5px;
}


.attribution {
    position: absolute;
    bottom: 4rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: aqua;
}

.attribution a {
    color: hsl(0, 0%, 100%);
}


    

/* for mobile view */



@media (max-width: 850px){

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 53.75rem;
        width: 21rem;
        flex-direction: column-reverse;
        margin: 1rem;
        text-align: center;
        border-radius: 15px;
        position: relative;
    }

    .image-card{
        background: url(images/image-header-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        width: 21rem;
        height: 15.412rem;
    }

    /* for accent-color overlay */
    .image-card::before{
        content: '';
        width: 33.75rem;
        height: 27.875rem;
        background-color: hsl(277deg 85% 30%);;
        opacity: 0.6;
        position: absolute;
        left: 0;
        border-radius: 0  10px 10px 0;    
    }
    
    

    
    .text-card{
        padding: 1rem;
        z-index: 1;
    }

    .heading{
        margin-top: 1.5rem;
        padding: 0 0.5rem;
    }

    .text-card article{
        width: 100%;
        padding: 1rem;
        margin: 0.5rem 0;
    }
    .stats{
        flex-direction: column;
        width: 100%;
        margin: 1rem 0;
    }

    li:nth-child(2n){
        margin-bottom: 1.5rem;
    }


    .attribution {
        position: inherit;
        bottom: 3rem;
        margin-top: 1rem;
    }
}









